<h1>Edit a Product</h1>

<%= render "form" %>

<%= link_to "Back to Products", products_path %>
<!-- Why is link_to not called as a function, with syntax such as link_to("Back to Products", products_path) ? -->